@font-face{
  font-family:Impact, sans-serif;
  src: url(fonts/myfont.ttf)
}

body {
  background-color: rgb(229, 220, 207);
  margin: 0px;
  width: 100%;
}

* {
  box-sizing: border-box;
} 

/*****************************************
  For layout purposes
*****************************************/
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

/*****************************************
  Navigation Bar
*****************************************/
.topnav {
  overflow: hidden;
  background-color: rgb(245, 235, 220);
  border-bottom: 1px solid rgb(80, 35, 20);
}

.topnav a {
  float: left;
  color: rgb(80, 35, 20);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font: 100% / 1.5 Impact, sans-serif;
}

.topnav a:hover {
  background-color: #dcc19a;
}

/* .topnav a.active {
  background-color: #181818;
  color: white;
} */

/* Button used to open new user form */
.open-button {
  background-color: rgb(245, 235, 220);
  color: rgb(80, 35, 20);
  padding: 14px 16px;
  border: none;
  cursor: pointer;
  /* opacity: 0.8;
  position: fixed; */
  /* bottom: 23px;
  right: 28px; */
  /* width: 280px; */
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  /* bottom: 0; */
  left:70px;
  border: 3px solid;
  z-index: 9;
  border-color: rgb(80, 35, 20);
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 1rem;
  background-color: rgb(245, 235, 220);
  color: rgb(80, 35, 20);
  font-family: Bubblegum Sans, sans-serif;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password], .form-container input[type=email]{
  width: 266px;
  padding: 16px 20px;
  margin-bottom: 10px;
  /* border: none; */
  background: #f1f1f1;
  border: 1px solid;
  border-color: rgb(80, 35, 20);
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus .form-container input[type=email]:focus {
  /* background-color: #ddd; */
  border: 1px;
  border-color: #EE1D23;
  /* outline: none; */
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: rgb(245, 235, 220);
  color: rgb(80, 35, 20);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  font-family: Bubblegum Sans, sans-serif;
  font-size: 1.5rem;
  border: 1px solid;
  border-color: rgb(80, 35, 20);
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: rgb(245, 235, 220);
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/*****************************************
  Navigation Bar
*****************************************/
#header-1 {
  font-family: Bubblegum Sans, sans-serif;
  background: rgb(245, 235, 220);
  text-align: center;
  width: 100%;
  font-size: 4rem;
  color:#EE1D23;
  padding: 2rem;
  margin: 0;
}

/*****************************************
  Setting Width
*****************************************/
#wrapper {
  margin:0 auto; 
  width:1440px;
}

/*****************************************
  Paragraph Style
*****************************************/
#intro {
  font-family: Bubblegum Sans, sans-serif;
  font-style: normal;
  background: rgb(245, 235, 220);
  width: 100%;
  font-size: 1.25rem;
  color:rgb(80, 35, 20);
  padding: 1rem;
  margin: 1rem;
}

/*****************************************
  Basic Grid
*****************************************/
#card-container{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(245, 235, 220);
  padding: 1rem;
  margin: 1rem;
}

.basic-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    margin: 1rem;
  }

.assignment-style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #EE1D23;
    font-family: Bubblegum Sans, sans-serif;
    font-size: 2rem;
    color: rgb(245, 235, 220);
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;
    border-radius: 8px;
    margin: 0px 0px 16px 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*****************************************
  Form on New Recipe Page
*****************************************/
.form-style {
  float: left;
  text-align: center;
  background: #EE1D23;
  font-family: Bubblegum Sans, sans-serif;
  font-size: 1.5rem;
  color: rgb(245, 235, 220);
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 30px;
  width: 200px;
  padding: .25rem;
  border-radius: 4px;
  transition: all 500ms;
  overflow: hidden;
  border-radius: 8px;
  margin: .5rem;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

input[type=text], select {
  width: 50%;
  padding: 12px 20px;
  margin: .5rem;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/*** Square Radio Buttons ****/
.boxed-label {
  display: inline-block;
  width: 180px;
  padding: 10px;
  border: solid 2px #ccc;
  transition: all 0.3s;
  text-align: center;
  font-size: 1.2rem;
  padding: .25rem;
  height: 30px;
  margin: .5rem .1rem .5rem .1rem;
  border-radius: 4px;
  background-color: white;
  font-family: Bubblegum Sans, sans-serif;
}

.boxed-input[type="radio"] {
  display: none;
}

.boxed-input[type="radio"]:checked + label {
  background-color:  #EE1D23;
  color: rgb(245, 235, 220);
}

/*****************************************
  Footer
*****************************************/
#footer {
  position: absolute;
  background: #EE1D23;
  text-align: center;
  width: 100%;
  font-size: 1rem;
  color: rgb(245, 235, 220);
  padding: 1rem;
  height: 2.5rem;
  bottom: 0;
  font-family: Bubblegum Sans, sans-serif;
  font-size: 1.25rem;
}

.link-style {
  text-decoration: none;
}