h1 {
    color: red;
}

.div-1 {
    font-size: 18px;
    background-color: gray;
}

.div-2 {
    font-size: 18px;
    background-color: darkgray;
}

.div-3 {
    font-size: 18px;
    background-color: gray;
}

.hover-bold:hover {
    font-weight: bold;
}