.header {
    background-color: #353535;
    text-align: center;
    padding: 20px;
    margin: 1rem;
    font-family: 'Noto Sans', sans-serif;
    color: #fff;
  }

body {
  background: #131313;
  color: #fff;
  font-family: 'Noto Sans', sans-serif;
}

.container {
  display: flex;
}

#typing {
  width: 100%;
  object-fit: cover;
  height: 240px;
  /* border-radius: 50%;
  size: 10%;
  width: 30%;
  height: auto; 
  margin-left: auto;
  margin-right: auto; */
}

.name {
  background-color: #353535;
  text-align: center;
  padding: 10px;
  margin: 1rem;
  font-family: 'Noto Sans', sans-serif;
  color: #fff;
  font-size: 2rem;
}

.small-text {
  font-size: 1rem;
  padding: 0px;
}

.basic-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  margin: 1rem;
}

.assignment-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #353535;
  font-size: 2rem;
  color: #fff;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  transition: all 500ms;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.complete:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.1);
  background-color: #4d4d4d;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 1rem;
  margin: 0px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4d4d4d;
  color: white;
}

footer {
  background-color: #353535;
  text-align: center;
  padding: 20px;
  margin: 1rem;
  font-family: 'Noto Sans', sans-serif;
  color: #fff;
}

.link-style {
  decoration: none;
}